In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("../Data/Raw/azure_usage.csv")
df2 = pd.read_csv("../Data/Raw/external_factors.csv")

print("------------------------------------df1-----------------------------------------")
print(df1.head())
print("------------------------------------df2-----------------------------------------")
print(df2.head())

------------------------------------df1-----------------------------------------
         date   region resource_type  usage_cpu  usage_storage  users_active
0  2023-01-01  East US            VM         88           1959           470
1  2023-01-01  East US       Storage         92           1595           388
2  2023-01-01  East US     Container         70            621           414
3  2023-01-01  West US            VM         60           1982           287
4  2023-01-01  West US       Storage         85           1371           351
------------------------------------df2-----------------------------------------
         date  economic_index  cloud_market_demand  holiday
0  2023-01-01          104.97                 0.99        1
1  2023-01-02          106.48                 1.15        0
2  2023-01-03           97.66                 0.98        0
3  2023-01-04          115.79                 1.08        0
4  2023-01-05           95.31                 1.05        0

In [3]:
df1["date"] = pd.to_datetime(df1["date"], errors="coerce")
df1["region"] = df1["region"].str.strip().str.lower()
df1["resource_type"] = df1["resource_type"].str.strip().str.lower()
df1.drop_duplicates(inplace=True)
print(len(df1))

1080

In [4]:
print("Null values in azure_usage")
print(df1.isnull().sum())
print(df1.head())

Null values in azure_usage
date             0
region           0
resource_type    0
usage_cpu        0
usage_storage    0
users_active     0
dtype: int64
        date   region resource_type  usage_cpu  usage_storage  users_active
0 2023-01-01  east us            vm         88           1959           470
1 2023-01-01  east us       storage         92           1595           388
2 2023-01-01  east us     container         70            621           414
3 2023-01-01  west us            vm         60           1982           287
4 2023-01-01  west us       storage         85           1371           351

In [5]:
df2["date"] = pd.to_datetime(df2["date"], errors="coerce")   
df2.drop_duplicates(inplace=True)

In [6]:
print("Null values in external_factors")
print(df2.isnull().sum())
print(df2.head())

Null values in external_factors
date                   0
economic_index         0
cloud_market_demand    0
holiday                0
dtype: int64
        date  economic_index  cloud_market_demand  holiday
0 2023-01-01          104.97                 0.99        1
1 2023-01-02          106.48                 1.15        0
2 2023-01-03           97.66                 0.98        0
3 2023-01-04          115.79                 1.08        0
4 2023-01-05           95.31                 1.05        0

In [7]:
merged = pd.merge(df1, df2, on="date", how="inner")
print(len(merged))

1080

In [8]:
print(merged.head())
merged.to_csv("../Data/Processed/cleaned_merged.csv",index=False)

        date   region resource_type  usage_cpu  usage_storage  users_active  \
0 2023-01-01  east us            vm         88           1959           470
1 2023-01-01  east us       storage         92           1595           388
2 2023-01-01  east us     container         70            621           414
3 2023-01-01  west us            vm         60           1982           287
4 2023-01-01  west us       storage         85           1371           351

   economic_index  cloud_market_demand  holiday
0          104.97                 0.99        1
1          104.97                 0.99        1
2          104.97                 0.99        1
3          104.97                 0.99        1
4          104.97                 0.99        1