In [33]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df1 = pd.read_csv("../Data/Raw/azure_usage.csv")
df2 = pd.read_csv("../Data/Raw/external_factors.csv")

print("------------------------------------df1-----------------------------------------")
print(df1.head())
print("------------------------------------df2-----------------------------------------")
print(df2.head())

------------------------------------df1-----------------------------------------
         date   region resource_type  usage_cpu  usage_storage  users_active
0  2023-01-01  East US            VM         88           1959           470
1  2023-01-01  East US       Storage         92           1595           388
2  2023-01-01  East US     Container         70            621           414
3  2023-01-01  West US            VM         60           1982           287
4  2023-01-01  West US       Storage         85           1371           351
------------------------------------df2-----------------------------------------
         date  economic_index  cloud_market_demand  holiday
0  2023-01-01          104.97                 0.99        1
1  2023-01-02          106.48                 1.15        0
2  2023-01-03           97.66                 0.98        0
3  2023-01-04          115.79                 1.08        0
4  2023-01-05           95.31                 1.05        0

In [35]:
df1["date"] = pd.to_datetime(df1["date"], errors="coerce")
df1["region"] = df1["region"].str.strip().str.lower()
df1["resource_type"] = df1["resource_type"].str.strip().str.lower()
df1.drop_duplicates(inplace=True)
print(len(df1))

1080

In [36]:
print(df1.head())

        date   region resource_type  usage_cpu  usage_storage  users_active
0 2023-01-01  east us            vm         88           1959           470
1 2023-01-01  east us       storage         92           1595           388
2 2023-01-01  east us     container         70            621           414
3 2023-01-01  west us            vm         60           1982           287
4 2023-01-01  west us       storage         85           1371           351

In [37]:
df2["date"] = pd.to_datetime(df2["date"], errors="coerce")   
df2.drop_duplicates(inplace=True)

In [38]:
print(df2.head())

        date  economic_index  cloud_market_demand  holiday
0 2023-01-01          104.97                 0.99        1
1 2023-01-02          106.48                 1.15        0
2 2023-01-03           97.66                 0.98        0
3 2023-01-04          115.79                 1.08        0
4 2023-01-05           95.31                 1.05        0

In [39]:
merged = pd.merge(df1, df2, on="date", how="inner")
print(len(merged))

1080

In [40]:
print(merged.head())
merged.to_csv("../Data/Processed/Merged_Data.csv",index=False)

        date   region resource_type  usage_cpu  usage_storage  users_active  \
0 2023-01-01  east us            vm         88           1959           470
1 2023-01-01  east us       storage         92           1595           388
2 2023-01-01  east us     container         70            621           414
3 2023-01-01  west us            vm         60           1982           287
4 2023-01-01  west us       storage         85           1371           351

   economic_index  cloud_market_demand  holiday
0          104.97                 0.99        1
1          104.97                 0.99        1
2          104.97                 0.99        1
3          104.97                 0.99        1
4          104.97                 0.99        1

In [41]:
encoded = pd.get_dummies(merged, columns=["region", "resource_type"], drop_first=True)

print(encoded.head())

        date  usage_cpu  usage_storage  users_active  economic_index  \
0 2023-01-01         88           1959           470          104.97
1 2023-01-01         92           1595           388          104.97
2 2023-01-01         70            621           414          104.97
3 2023-01-01         60           1982           287          104.97
4 2023-01-01         85           1371           351          104.97

   cloud_market_demand  holiday  region_north europe  region_southeast asia  \
0                 0.99        1                False                  False
1                 0.99        1                False                  False
2                 0.99        1                False                  False
3                 0.99        1                False                  False
4                 0.99        1                False                  False

   region_west us  resource_type_storage  resource_type_vm
0           False                  False              True
1           False                   True             False
2           False                  False             False
3            True                  False              True
4            True                   True             False

In [42]:
for col in encoded.select_dtypes(include=["bool"]).columns:
    encoded[col] = encoded[col].astype(int)

print(encoded.head())

        date  usage_cpu  usage_storage  users_active  economic_index  \
0 2023-01-01         88           1959           470          104.97
1 2023-01-01         92           1595           388          104.97
2 2023-01-01         70            621           414          104.97
3 2023-01-01         60           1982           287          104.97
4 2023-01-01         85           1371           351          104.97

   cloud_market_demand  holiday  region_north europe  region_southeast asia  \
0                 0.99        1                    0                      0
1                 0.99        1                    0                      0
2                 0.99        1                    0                      0
3                 0.99        1                    0                      0
4                 0.99        1                    0                      0

   region_west us  resource_type_storage  resource_type_vm
0               0                      0                 1
1               0                      1                 0
2               0                      0                 0
3               1                      0                 1
4               1                      1                 0

In [43]:
encoded.to_csv("../Data/Processed/Encoded_Cleaned_Data.csv",index=False)