In [21]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df1 = pd.read_csv("../Data/Raw/azure_usage.csv")
df2 = pd.read_csv("../Data/Raw/external_factors.csv")

print("------------------------------------df1-----------------------------------------")
print(df1.head())
print("------------------------------------df2-----------------------------------------")
print(df2.head())

------------------------------------df1-----------------------------------------
         date   region resource_type  usage_cpu  usage_storage  users_active
0  2023-01-01  East US            VM         88           1959           470
1  2023-01-01  East US       Storage         92           1595           388
2  2023-01-01  East US     Container         70            621           414
3  2023-01-01  West US            VM         60           1982           287
4  2023-01-01  West US       Storage         85           1371           351
------------------------------------df2-----------------------------------------
         date  economic_index  cloud_market_demand  holiday
0  2023-01-01          104.97                 0.99        1
1  2023-01-02          106.48                 1.15        0
2  2023-01-03           97.66                 0.98        0
3  2023-01-04          115.79                 1.08        0
4  2023-01-05           95.31                 1.05        0

In [23]:
print("Unique Regions : ")  
print(df1.region.unique())
print("Different Resourses : ")  
print(df1.resource_type.unique())

Unique Regions :
['East US' 'West US' 'North Europe' 'Southeast Asia']
Different Resourses :
['VM' 'Storage' 'Container']

In [24]:
print("------------------------------------df1-----------------------------------------")
print(df1.info())
print("------------------------------------df2-----------------------------------------")
print(df2.info())

------------------------------------df1-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1080 non-null   object
 1   region         1080 non-null   object
 2   resource_type  1080 non-null   object
 3   usage_cpu      1080 non-null   int64
 4   usage_storage  1080 non-null   int64
 5   users_active   1080 non-null   int64
dtypes: int64(3), object(3)
memory usage: 50.8+ KB
None
------------------------------------df2-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 90 non-null     object
 1   economic_index       90 non-null     float64
 2   cloud_market_demand  90 non-null     float64
 3   holiday              90 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ KB
None

In [25]:
print("------------------------------------df1-----------------------------------------")
print(df1.describe())
print("------------------------------------df2-----------------------------------------")
print(df2.describe())

------------------------------------df1-----------------------------------------
         usage_cpu  usage_storage  users_active
count  1080.000000    1080.000000   1080.000000
mean     74.651852    1242.477778    352.694444
std      14.549621     432.444284     86.280150
min      50.000000     500.000000    200.000000
25%      62.000000     881.750000    283.000000
50%      75.000000    1262.000000    353.000000
75%      87.000000    1609.000000    427.000000
max      99.000000    1995.000000    499.000000
------------------------------------df2-----------------------------------------
       economic_index  cloud_market_demand    holiday
count       90.000000            90.000000  90.000000
mean        98.930444             1.006667   0.277778
std          8.825072             0.101517   0.450412
min         73.800000             0.800000   0.000000
25%         93.035000             0.940000   0.000000
50%         99.645000             1.015000   0.000000
75%        103.567500             1.077500   1.000000
max        118.860000             1.270000   1.000000